<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.pginfo.datacollect.dao.SinkDataMapper" >
    <resultMap id="DataResultMap" type="com.pginfo.datacollect.domain.SinkData" >
        <result column="id" property="deviceId" jdbcType="INTEGER" />
        <result column="deformation" property="height" jdbcType="INTEGER" />
        <result column="temperature" property="temperature" jdbcType="DOUBLE" />
        <result column="time" property="dateTime" jdbcType="TIMESTAMP" />
    </resultMap>

    <select id="selectSinkDataById" resultMap="DataResultMap" parameterType="java.lang.Integer" >
        select * from yk_api_copy where id = #{deviceId} order by time desc limit 100
    </select>

    <select id="selectSinkDataByTime" resultMap="DataResultMap" parameterType="java.sql.Timestamp" >
        select * from yk_api_copy where 1=1
        <if test="startDate != null">
            AND time &gt;= #{startDate}
        </if>
        <if test="endDate != null">
            AND time &lt;= #{endDate}
        </if>
    </select>

    <select id="selectSinkDataByHeight" resultMap="DataResultMap" parameterType="java.lang.Long" >
        select * from yk_api_copy where 1=1
        <if test="height != null">
            and deformation &gt;= #{height}
        </if>
    </select>

    <!-- 每分钟刷新一次最新数据 -->
    <select id="selectLatestSinkData" resultMap="DataResultMap" >
        select * from yk_api_copy t join (select MAX(time) as vtime, id as vid from yk_api group by id) v on t.id=v.vid and t.time=v.vtime;
    </select>

    <!-- 全量数据刷新,时间递减，最多1000条 -->
    <select id="selectAllSinkData" resultMap="DataResultMap" >
        select * from yk_api_copy
    </select>

</mapper>