.breadcrumb-left {
    float: left;
}
.index_menu{
    top: -25px!important;
}
.breadcrumb {
    font-size: 18px;
}

.breadcrumb>li+li:before {
    content: '';
}
#tabeleList{width: 100%;}
.breadcrumb>li>a {
    display: inline-block;
    width: 120px;
    height: 33px;
    line-height: 37px;
    text-align: center;
    font-size: 18px;
}
.machine-status_shebhover{height: 220px!important;}
.p-relative ul li {
    font-size: 14px;
}
.home-btn {
    background: url(../images/icon_03.png) no-repeat;
    background-size: 100% 100%;
}
.menu-btn {
    background: url(../images/icon_03.png) no-repeat;
    background-size: 100% 100%;
}
.loginout-btn {
    background: url(../images/icon_03.png) no-repeat;
    background-size: 100% 100%;
}

.breadcrumb>li>a.date-btn {
    width: 190px;
    background: url(../images/icon_05.png) no-repeat;
    background-size: 100% 100%;
}

.blam-title {
    text-align: center;
    -webkit-box-reflect: below 0 -webkit-linear-gradient(transparent,transparent 50%,rgba(255,255,255,.2));
    font-size: 26px;
}

.bg-line {
    height: 206px;
    padding-top: 13px;
    background: url(../images/divbg_left1.png) no-repeat;
    background-size: 100% 100%;
}

#usa-map-new {
    padding-top: 34px;
    padding-bottom: 24px;
}


#usa-map-new {
    display: flex;
    justify-content: center;
    -webkit-justify-content: center;
    align-items: center;
    -webkit-align-items: center;
    font-family: "微软雅黑";
}

#usa-map-new p {
    width: 42px;
    height: 52px;
    text-align: center;
    line-height: 52px;
    font-size: 40px;
    background: rgba(14, 40, 85, 0.54);
    box-shadow: 2px -2px 1px #000;
    margin-left: 10px;
    border-radius: 4px !important;
}

.blam-list {
    height: 366px;
    padding-top: 10px;
    background: url(../images/divbg_left2.png) no-repeat;
    background-size: 100% 100%;
}

.blam-list .list-group {
    border: none;
    margin-top: 0%;
    padding-top: 28px;
    padding-bottom:26px;
}
#tabeleList2 thead tr td{font-size: 16px;}
#tabeleList2 tbody tr td{font-size: 14px;}
#tabeleList thead tr td{font-size: 16px;}
#tabeleList tbody tr td{font-size: 12px;}

.blam-list .list-group .list-group-item{
    border: none;
    line-height: 45px;
    padding-left: 7%;
    font-size: 18px;
    font-weight: 300;
}

.machine-status {
    height: 408px;
    background: url(../images/divbg_left3.png) no-repeat;
    background-size: 100% 100%;
    padding-top: 10px;
}

.machine-status .list-group {
    border: none;
    margin-top: 0%;
}

.machine-status .list-group .list-group-item{
    border: none;
    line-height: 30px;
    padding-left: 16%;
    font-size: 16px;
}

.qiao {
    height: 384px;
    background: url(../images/divbg_con1.png) no-repeat;
    background-size: 100% 100%;
    position: relative;
}
#canvasWrap {
    position: absolute;
    bottom: 97px;
    margin: 0 auto;
    top: 17%;
    left: 50%;
    margin-left: -515px;
    width: 1029px;
}

.qiao-tab ul {
    float: right;
    width: 130px;
    margin-top: 20px;
    line-height: 30px;
    font-size: 16px;
    font-family: "微软雅黑";
}

.qiao-tab ul > li {
    list-style: none;
    cursor: pointer;
}

.qiao-tab ul>li:first-child:before{
    width: 12px;
    height: 12px;
    background-color: #ffffff;
    content: "";
    display: inline-block;
    vertical-align: middle;
    margin-right: 4px;
    font-size: 14px;
}

.qiao-tab ul>li:last-child:before{
    width: 12px;
    height: 12px;
    background-color: #02b494;
    content: "";
    display: inline-block;
    vertical-align: middle;
    margin-right: 4px;
    font-size: 14px;
}
.qiao_titright ul li{height: 26px;}
#time ul>li:first-child:before{
    width: 12px;
    height: 12px;
    background-color: #8ADC5D;
    content: "";
    display: inline-block;
    vertical-align: middle;
    margin-right: 4px;
    font-size: 14px;
}

#time ul>li:last-child:before{
    width: 12px;
    height: 12px;
    background-color: #FFFE1D;
    content: "";
    display: inline-block;
    vertical-align: middle;
    margin-right: 4px;
    font-size: 14px;
}

#time {
    position: absolute;
    right: 0;
    top: 55px;
}
.index_fell{left: -12px!important;}
#time ul {
    margin-top: 0;
}

#time ul li {
    height: 25px;
}
.up-status {
    height: 449px;
    background: url(../images/divbg_con2.png) no-repeat;
    background-size: 100% 100%;
}

.up-status-title{
    background: rgba(0,0,0,0) !important;
}


.alrm-list {
    height: 468px;
    margin-top: 18px;
    overflow: hidden;
}

.alrm-list tr{
    height: 45px;
    line-height: 45px;
}

.up:before{
    background-color: #FFa200 !important;
}

.down:before{
    background-color: #00E1Ba !important;
}

.blue:before{
    background: rgba(28, 125, 250, 0.35) !important;
}

.purple:before{
    background-color: #6a3b71 !important;
}
#main-line {
    height: 460px;
}
.index_zt1{margin-bottom: 26px;}
.container_index{width: 97%}
.up-status {
    height: 465px;
}

.alrm-list-line {
    height: 420px;
}

#main-line2 {
    height: 301px !important;
}

.alrm-list-zishi {
    height: 390px;
}
.qiao {
    height: 345px;
}
.qiao-tab ul .index_con2bot1:first-child:before{    width: 19px;
    height: 8px;
    background-color: #ffffff;
    content: "";
    display: inline-block;
    vertical-align: middle;
    margin-right: 4px;
    font-size: 14px;}
.qiao-tab ul .index_con2bot2:last-child:before{    width: 19px;
    height: 8px;
    background-color: #00e1b9;
    content: "";
    display: inline-block;
    vertical-align: middle;
    margin-right: 4px;
    font-size: 14px;}
.qiao-tab ul .blue:first-child:before{    width: 19px;
    height: 8px;
    background:rgba(0,255,240,0.25) !important;
    content: "";
    display: inline-block;
    vertical-align: middle;
    margin-right: 4px;
    font-size: 14px;}
.qiao-tab ul .purple:last-child:before{    width: 19px;
    height: 8px;
    background: -webkit-linear-gradient(#1fbba6 33%, #dd457a 33%,#ff3a2f) !important; /* Safari 5.1 - 6.0 */
    background: -o-linear-gradient(#1fbba6 33%, #dd457a 33%,#ff3a2f) !important; /* Opera 11.6 - 12.0 */
    background: -moz-linear-gradient(#1fbba6 33%, #dd457a 33%,#ff3a2f) !important ; /* Firefox 3.6 - 15 */
    background: linear-gradient(#1fbba6 33%, #dd457a 33%,#ff3a2f) !important; /* 标准的语法（必须放在最后） */
    content: "";
    display: inline-block;
    vertical-align: middle;
    margin-right: 4px;
    font-size: 14px;}
    .qiao-tab ul .blue.index_aqfw:before{    background: rgba(28,125,250,0.55) !important;}
#main-line {
<<<<<<< .mine
    width: 1150px;
=======
    width: 1110px;
>>>>>>> .theirs
}
.index_bjfw:before{opacity: 0.75;}
.mainline2{width:800px!important;}
@media screen and (max-width:1920px) {
    #canvasWrap {
        width: 1000px;
        margin-left: -500px;
    }
    #main-line {
        width: 1050px;
    }

}

@media screen and (max-width:1920px) {
    #canvasWrap {
           width: 908px;
    margin-left: -452px;
    }
}
@media screen and (max-width:1680px) {  #main-line {
    width: 920px;
}}
@media screen and (max-width:1600px) {
    #canvasWrap {
        width: 720px;
        margin-left: -346px;
    }
    #main-line {
        width: 870px;
    }
}

@media screen and (max-width:1440px) {
    #main-line {
        width: 770px;
    }
}

@media screen and (max-width:1367px) {
    #canvasWrap {
        width: 600px;
        margin-left: -295px;
    }
    #main-line {
        width: 720px;
    }
}

@media screen and (max-width:1280px) {
    #canvasWrap {
        width: 500px;
        margin-left: -242px;
    }
    #main-line {
        width: 520px;
    }
}



#main-line >div{
    top: -30px;
    left: 5px
}
#main-line2 {

    left: 10px;
}
.table>thead>tr>th, .table>tbody>tr>th, .table>tfoot>tr>th, .table>thead>tr>td, .table>tbody>tr>td, .table>tfoot>tr>td{
    border: 1px solid red;
    line-height: 25px;
    color: #0fbdc2;
}
#main-line >div{
    top: -30px;
    left: 5px
}

.table>thead>tr>th, .table>tbody>tr>th, .table>tfoot>tr>th, .table>thead>tr>td, .table>tbody>tr>td, .table>tfoot>tr>td{
    border: 1px solid red;
    line-height: 25px;
    color: #0fbdc2;
}
/*@media screen and (max-height: 800px) {*/
    /*.blam-list {*/
        /*height: 180px;*/
    /*}*/

    /*.machine-status {*/
        /*height: 190px;*/
    /*}*/
/*}*/
.font-14 {
    font-size: 14px;
}

.breadcrumb>li+li:before {
    display: none;
}