body{background: #eaeef1;}
ul{list-style: none;}
ul il{list-style: none;}
.mg_t22{/*margin-top: 22px;*/}
.home_btnnext{    background: url(../images/ic_03.png) no-repeat;    background-size: 100% 100%;}
.nav_menu1{position: relative;z-index: 99}
.together_content{   /* background: url(../images/nier.png);*/
/*  background-repeat: no-repeat;*/
/*background-size: 100% 100%;*/
    background: #fff;
width: 100%;
margin: 6px auto;padding: 20px 0px 10px 0px;box-sizing: border-box;}
.search_bianhao{
    width: 80%;}
.threshold_upline .form-control.time_rightbox{
    height: 33px;
    background: url(../images/time_right.png);
    background-repeat: no-repeat;
    position: absolute;
    background-position: 100% 0px;
    cursor: pointer;
  }
.threshold_upline .form-control.time_rightboxp{
    height: 33px;
    background: url(../images/time_right.png);
    background-repeat: no-repeat;
    position: absolute;
    background-position: 100% 0px;
    cursor: pointer;
}
.polist_onelist_three .form-control.time_rightbox{
    width: 67%;
    height: 33px;
    background: url(../images/time_right.png);
    background-repeat: no-repeat;
    position: absolute;
    background-position: 100% 0px;
    cursor: pointer;
}
.index_setid{
    width: 150px;
    height: 34px;background: url("../images/icon_18.png");
    background-repeat: no-repeat;margin: 0 auto; text-align: center;}
.index_addselect .form-control{display: inline-block;
    width: 146px;
    background: transparent;
    border: none;
    color: #000000!important;
    font-size: 16px;
    line-height: 28px;
    height: 34px;
    text-align: center;
    margin: 0 auto}
.index_addselect.bootstrap-select.btn-group .btn .filter-option{ color: #000000!important;
    font-size: 16px;}
.index_addselect.bootstrap-select.btn-group .btn .caret{display: none;}
.index_addselect.bootstrap-select.btn-group .dropdown-menu{min-width: 84%;
    text-align: center;
    margin-left: 11px;
    border-radius: 0 0 9px 9px!important;background: rgba(15, 140, 208,0.9);}
.index_addselect.bootstrap-select.btn-group .dropdown-menu .inner{    background: transparent;
    width: 100%;
    margin-left: 0px;}
.index_addselect.bootstrap-select.btn-group .dropdown-menu ul li a span{color:#000;font-size: 14px;}
.page-title{margin-bottom: 24px;}
.police_type{    width: 70px;
text-align: right;
margin-right: 12px;line-height: 33px;}
.headtwo img{
    width: 100%;}
.togethers{    position: relative;
    top: -41px;}
.police_tit .form-control{display: inline-block;
width: 77%;}
.nav_menu{list-style: none;z-index: 999}
.p-relative ul li{list-style: none;}
.nav_twomenu{display: none; position:relative;}
.nav_threemenu{display: none; position:absolute;
width: 135px;
height: 183px;
    left: 65px;
top: 3px;
background: url(../images/xl.png);
background-repeat: no-repeat;
background-size: 135px 150px;
padding-top: 8px;    font-size: 16px;}

.nav_menu1 ul li a{display: block;}
.togethers ul li{float: left;}
.nav_menu1 li{float: left;}
.ifream_listnav:before{padding:0!important; }
.ifream_listnav{margin-left: 10px;}
.nav_twomenu{    background: url(../images/xl.png);
background-repeat: no-repeat;
background-size: 105px 150px;
width: 105px;
height: 157px;
position: absolute;
    top: 39px;
    left: 153px;
padding-top: 10px;
font-size: 16px;}
.nav_twomenu li {
float: left;
width: 85%;
margin-top: 14px;
text-align: left;
position: relative;
left: -3px;
}
.bg2{    background: url(../images/xl2.png);
    background-repeat: no-repeat;
    background-size: 104px 150px;
    top: 40px;
    left: 152px;}
.bg_pos{    left: 65px;
top: 3px;}
.bg_posti2{    left: 64px;
top: 3px;}
.nav_menu1 li:hover .nav_twomenu{display: block;list-style:none;
width: 135px; }
.breadcrumb>li>a.date_btnnext{background: url(../images/ic_05.png) no-repeat;
background-size: 100% 100%;}
.nav_menu1 li ul li:hover ul{display: block;list-style:none; width: 135px;}
.nav_menu1 li ul li:hover ul li{ist-style:none;}
#sbsz{    position: relative;
left: -21px;}
.myFrame{width: 100%;
height: 100%;}
.head_titall{
width: 100%; margin: 0 auto;}
.head_titall_title{
width: 100%;margin: 0 auto;    padding: 0px;}
.head_titall_title li{
float: left;}
.ifream_nav_bg3{background-size: 105px 175px;}
.head_titall_title li a{font-size: 16px;color:#00aff2}
.head_titall_title li {font-size: 14px;color:#00aff2;line-height: 30px;padding: 0 5px; list-style: none;}
.home:before{width: 20px;
height: 20px;
content: "";
display: inline-block;
background: url(../images/home2.png);
background-repeat: no-repeat;
background-size: 20px 18px;
position: relative;
top: 5px;
margin-right: 6px;list-style: none;}
.index_fell{left: -12px;}
.head_titall_title .active{color:#8a8888;}
.together_pad{padding: 42px 0px;    padding-bottom: 74px;}

.threshold_listline{
width: 100%;border-bottom:1px solid #e6ebee;    margin-bottom: 40px;height: 37px!important;}
.small_sanjiao{
    display: inline-block;
    position: relative;
    width: 0;
    height: 0;
    border-width: 12px;
    border-style: solid;
    border-color: #23aaea transparent transparent transparent;
    top: 33px;
    left: -91px;}
.block-title {
    width:158px;
    height:34px;
    line-height: 19px;
background:#23aaea;
font-size: 14px;
text-transform: uppercase;
display: inline-block;
    text-align: center;
    color: #fff;
}
.seard_up:before {
    background-color: #1678c2 !important;
}
.seard_down:before {
    background-color: #6ea450 !important;
}
.searchd_safe:before {
    background:rgba(10, 255, 241, 0.45) !important;
}
.searchd_happen:before {
    background: -webkit-linear-gradient(#e4df91 33%, #ffdac4 33%,#ffc2bf) !important; /* Safari 5.1 - 6.0 */
    background: -o-linear-gradient(#e4df91 33%, #ffdac4 33%,#ffc2bf) !important; /* Opera 11.6 - 12.0 */
    background: -moz-linear-gradient(#e4df91 33%, #ffdac4 33%,#ffc2bf)  !important ; /* Firefox 3.6 - 15 */
    background: linear-gradient(#e4df91 33%, #ffdac4 33%,#ffc2bf)  !important; /* 标准的语法（必须放在最后） */
    content: "";
    display: inline-block;
    vertical-align: middle;
    margin-right: 4px;
    font-size: 14px;
    width: 19px;
    height: 8px;
}
.green{background:#67b930;}
.sanjiao_green{border-color: #67b930 transparent transparent transparent;}
.orange{background:#ebb724;}
.sanjiao_orange{border-color: #ebb724 transparent transparent transparent;}
.threshold_mgb{margin-bottom: 0px;}
.htreshold_listbox{margin-bottom: 30px;}
.bootstrap-select.btn-group .btn .filter-option{text-align: left;    color: #9c9a9a;}
.device_list{margin-bottom: 28px;}
.device_list2{margin-bottom: 10px;}
.device_listitle{
width: 68px; text-align: right;}
.device_setid{
width: 38.7%;}
.police_tit_time .form-control{
width: 100%;}
.polist_onelist_three{width: 57%;display: inline;}
.polist_threelist{width: 89%;display: inline-block;}
.police_detailyj{
float: left; line-height: 20px;
width: 70px;text-align: right;margin-right:22px}
.polist_threelist textarea.form-control{
height:90px;overflow: auto;}
.threshold_upline label i{    font-style: normal;
    position: relative;
    top: 2px;
    font-size: 14px;
    color: #ec0000;}
.police_caozuo {background-color: transparent!important;}
.police_del{background-image: url("../images/del.png");
background-repeat: no-repeat;}
.layui-this a {
width: 174px;
height: 43px;
background: url("../images/list1.png")!important;
background-repeat: no-repeat;
border:none;
box-sizing: border-box;
pointer-events: none;
}

.threshold_upline .form-control{background: transparent;}
.police_click .layui-this{
color:#fff;
width:163px ;color:#fff;
position: relative;left: -40px;}
.police_click li{float: left;  width:174px ;color:#fff;}
.police_click{border-bottom: 1px solid #e6ebee;    height: 32px;
}
.even{background: #f3f6fb;}
.yhh-data-table-frame>.data-table-bottom-box>.info-box{color:#555;}
.paginate-containter .paginate-box .go-page-box{color: #555;}
.police_click li a{float: left;
width: 163px;
height: 42px;
text-align: center;
    line-height: 34px;
    font-size: 14px;margin-left: -40px;color: #333333;}
.layui-this a{margin-left: 0px!important;}
.head_titall_title .active a{color:#8a8888;}
#login_box{
width:100%;background: url("../images/login_bg.png");background-repeat: no-repeat;background-size: 100% 100%;    overflow: hidden;}
.login_conbox{
width:100%;margin: 0 auto;
}
.layui-this a{color:#fff!important;}
#login{
width:862px;
height:540px;margin: 0 auto;
background: url("../images/login_con.png");background-repeat: no-repeat;background-size: cover;margin-top: 10%;position: relative;}
#login .box {
padding: 20px 20px 25px;
margin-top: 30px;
position: absolute;
display: none;
top: 142px;
left: 290px;
}
#login .login-control {
width: 100%;
border: 0;
padding: 12px 10px 12px 50px;
background: transparent;
border: 1px solid #2f90df;
}
.qiao-tab{margin-left: 0!important;;padding-left: 0!important; text-align: left;}
.qiao-tab2 ul{
    width:99px;border-top:1px solid #c7c7c7;border-bottom:1px solid #c7c7c7;border-left:1px solid #c7c7c7;}
.qiao-tab3 ul{width:170px;border-top:1px solid #c7c7c7;border-bottom:1px solid #c7c7c7;border-right:1px solid #c7c7c7;}
.fa-sign-out:before{
    width: 22px;
    height: 17px;
    content: "";
    display: inline-block;
    background: url(../images/daoc.png);
    background-repeat: no-repeat;
    position: relative;
    background-size: 18px 16px;
    top: 4px;
    right: 4px;}
.login_admin{
width:40px;
height:40px;
position: absolute;background: url("../images/admin.png");background-repeat: no-repeat;background-size: 40px 40px;}
.login_pass{
width:40px;
height:40px;
position: absolute;background: url("../images/pass.png");background-repeat: no-repeat;background-size: 40px 40px;}
.login_but40{margin-bottom: 30px;}
.login_admin:after{display: inline-block;content:"";
width:42px;
height:40px;position: relative;border-right: 1px solid #2f90df;top: 1px;}
.login_pass:after{display: inline-block;content:"";
width:42px;
height:40px;position: relative;border-right: 1px solid #2f90df;top: 1px;}
.login-control::placeholder{font-size: 14px;}
.threshold_but2 {
width: 323px;
margin: 11px auto;
position: relative;
}
.threshold_butqud {
color: #fff;
background:url("../images/login_button.png");
background-position: 50% 50%;
background-repeat: no-repeat;
border: none;
border-radius: 10px!important;
font-size: 16px;
width: 282px;
height: 50px;
}
.block-title em{    display: inline-block;
text-align: center;
font-style: normal;
text-align: left;
position: relative;
left: -12px;
top: -3px;}
.nav_threebg{    background-size: 135px 108px;}
.nav_threebg li{left: -11px;}
.nav_menu1 a{
cursor: pointer;}
.paginate-containter .paginate-box .paginate-btn:active {
background-color: #019a95;
color: #fff;
}
.data-table-bottom-box{margin-top: 10px!important;}
.per-length-box{display: none;}
.yhh-data-table-frame>table.yhh-data-table td{background: none;}
.yhh-data-table-frame{background: none;}
.paginate-containter .paginate-box .paginate-btn:hover{color:#fff;}
.layui-laydate-header i:hover, .layui-laydate-header span:hover {
color: #5FB878;
}
.layui-laydate-header i.laydate-prev-y {
background: url(../images/left2.png);
background-repeat: no-repeat;
background-size: 15px 17px;
width: 28px;
height: 30px;
top: 16px;
position: absolute;
}
.layui-laydate-header i.laydate-prev-y:hover{ background: url(../images/left2_hover.png); background-repeat: no-repeat;
background-size: 15px 17px;
width: 28px;
height: 30px;
top: 16px;
position: absolute;}

.layui-laydate-header i {
position: absolute;
top: 10px;
color:transparent!important;
font-size: 18px;
}
.layui-laydate-header i.laydate-prev-m {
background: url("../images/left1.png");
background-repeat: no-repeat;
background-size: 15px 17px;
width: 28px;
height: 30px;
top: 16px;
position: absolute;
}
.layui-laydate-header i.laydate-prev-m:hover{ background: url(../images/left1_hover.png); background-repeat: no-repeat;
background-size: 15px 17px;
width: 28px;
height: 30px;
top: 16px;
position: absolute;}
.layui-laydate-header i.laydate-next-y {
background: url("../images/right2.png");
background-repeat: no-repeat;
background-size: 15px 17px;
width: 28px;
height: 30px;
top: 16px;
position: absolute;
}
.layui-laydate-header i.laydate-next-y:hover{background: url("../images/right2_hover.png"); background-repeat: no-repeat;
background-size: 15px 17px;
width: 28px;
height: 30px;
top: 16px;
position: absolute;}
.layui-laydate-header i.laydate-next-m {
background: url("../images/right1.png");
background-repeat: no-repeat;
background-size: 15px 17px;
width: 28px;
height: 30px;
top: 16px;
position: absolute;
}
.layui-laydate-header i.laydate-next-m:hover{background: url("../images/right1_hover.png"); background-repeat: no-repeat;
background-size: 15px 17px;
width: 28px;
height: 30px;
top: 16px;
position: absolute;}
.login_zidong{
width:275px;margin: 20px auto;position: relative;
}
.login_left{display: inline-block;vertical-align: middle;}
.login_dengl{float: left;display: inline-block;vertical-align: middle;}
.openicon{
width:19px;
height:19px;display: inline-block;background: url("../images/Float2.png");background-repeat: no-repeat;    position: relative;
top: 5px;}
.checked .openicon{background: url("../images/Float.png");background-repeat: no-repeat;}
.log_forget{float: right;list-style: none;font-style: normal;}
.log_forget a{    line-height: 29px;}
.form-control:focus, .input-focused, .bootstrap-select.open > .form-control {
    border-color: #c9c9c9;
    background: rgba(0, 0, 0, 0);
    box-shadow: none;
}
.form-control, .message-search {
    border: 1px solid rgb(201, 201, 201);
    text-shadow: none;
    color: #9c9a9a;
    box-shadow: none;
    font-family: open-sans-regular;
    -webkit-appearance: none;
}
.layui-layer-title{font-size: 16px;
    color: #00aff2;
    overflow: hidden;
    background-color: #f6f7f8;}
.layui-layer-rim{border:none!important;}

.threshold_butset{
    width: 218px;
    margin: 0 auto;
    margin-bottom: 19px;
}

.set_preselect{width: 80%;}


@media (max-width: 1920px) {
#login {
    margin-top: 12%;
}

}
@media (max-width: 1680px) {
    .bg-line{height: 167px;}
    #usa-map-new {
        padding-top: 22px;
        padding-bottom: 24px;
    }
    .blam-list{height: 352px;}
    .blam-list .list-group {
        border: none;
        margin-top: 0%;
        padding-top: 17px;
        padding-bottom: 5px;
    }
    #canvasWrap {
        top: 25%;
    width: 908px;
    margin-left: -452px;
}
.container_index {
    width: 99%;
}
    .machine-status_shebhover{
        height: 221px!important;}
    .blam-list .list-group .list-group-item{    line-height: 45px;
        font-size: 16px;}
    .qiao {
        height: 360px;
    }
    .up-status {
        height: 399px;
    }
    #main-line {
        height: 390px !important;
    }
    #main-line2 {
        height: 280px !important;
    }
    .alrm-list-line {
        height: 400px;
    }
    .alrm-list-zishi {
        height: 360px;
    }
    #canvas {
        width: 741px;
        margin-left: -368px;
    }
    #tabeleList2 thead tr td{font-size: 14px;}
    #tabeleList2 tbody tr td{font-size: 12px;}
    #tabeleList thead tr td{font-size: 14px;}
    #tabeleList tbody tr td{font-size: 12px;}
#login {
    margin-top: 10%;
}
/*.together_content{
    width: 1480px;
}*/
.together_pad {
    padding: 40px 0px;
}
    .yhh-data-table-frame>table.yhh-data-table tbody th, .yhh-data-table-frame>table.yhh-data-table tbody td{padding: 8px;}

}
@media (max-width: 1440px) {
#login {margin-top: 8%;}
/*.together_content{width: 1240px;    }*/
.together_headallbox{top: 148px;}
.search_allbox2{    height: 594px;}
.together_pad {
    padding: 30px 0px;
}
    .yhh-data-table-frame>table.yhh-data-table tbody th, .yhh-data-table-frame>table.yhh-data-table tbody td{padding: 6px;}
    #tabeleList2 thead tr td{font-size: 12px;}
    #tabeleList2 tbody tr td{font-size: 11px;}
    #tabeleList thead tr td{font-size: 12px;}
    #tabeleList tbody tr td{font-size: 11px;}
    .search_bianhao {
        width: 79%;
    }
    .blam-list {
        height: 251px;
    }
    h1, h2, h3 {
        margin-top: 11px;
    }
    .blam-list .list-group .list-group-item {
        line-height: 24px;
        font-size: 14px;
        padding-left: 10px;
    }
    #canvasWrap {
        top: 19%;
        width: 797px;
        margin-left: -394px;
    }
    .qiao {
        height: 283px;
    }
    .up-status {
        height: 374px;
    }
    #main-line {
        height: 370px !important;
    }
    .alrm-list-line {
        height: 359px;
    }
    #main-line2 {
        height: 245px !important;
    }
    .alrm-list-zishi {
        height: 296px;
    }
}
@media (max-width: 1400px){.search_bianhao {
    width: 70%;
}}
@media (max-width: 1280px) {
#login {
    margin-top: 6%;
}
/*.together_content{
    width: 1080px;
}*/
.yhh-data-table-frame{
    position: relative;top:-20px;
}
    .yhh-data-table-frame>table.yhh-data-table tbody th, .yhh-data-table-frame>table.yhh-data-table tbody td{padding: 5px;}
    .search_bianhao {
        width: 76%;
    }

}
@media (max-width: 1200px){
/*.together_content{
    width: 1020px;
}*/
.yhh-data-table-frame{
    position: relative;top:0px;
}
.threshold_listline{    margin-bottom: 26px;
    margin-top: 0px;}
.htreshold_listbox{    margin-bottom: 6px;}
.threshold_butbc{    margin-top: 16px;}
.threshold_butqx{ margin-top: 16px;}
.threshold_listline:before{
    width: 0px;}
.polist_threelist{width: 76%;}
.polist_onelist_three{    width: 28%;}
.police_allheight{
    height: 400px;overflow-y: scroll;overflow-x: hidden;}
    #canvasWrap {
        top: 19%;
        width: 663px;
        margin-left: -329px;
    }
    #usa-map-new p{    width: 36px;    margin-left: 3px;
        margin-right: 3px;}
        .qiao {
            height: 224px;
        }
        .blam-list .list-group .list-group-item{    line-height: 18px;}
        h1, h2, h3 {
            margin-top: 7px!important;
        }
        #tabeleList2 thead tr td {
            font-size: 10px!important;
        }
        .index_zt1 {
            margin-bottom: 11px;
        }
        .machine-status_shebhover {
            height: 160px!important;
        }
        .blam-list .list-group{    padding-top: 4px;
            padding-bottom: 2px;}
            .blam-list {
                height: 200px;
            }
            #tabeleList2 tbody tr td {
                font-size: 11px;
                line-height: 9px;
            }
            .bg-line {
                height: 159px;
            }
            .up-status {
                height: 314px;
            }
            #main-line {
                height: 320px !important;width: 640px
            }
}
@media (max-width: 1024px){
    /*.together_content {
        width: 994px;
    }*/
    .police_allheight{    height: 303px;}

    }
    @media (max-width: 992px) {
    #login {
        margin-top: 6%;
    }


.together_headallbox {
    top: 114px;
}
.block-title{background: rgba(0,0,0,0.3);
    height: 39px;}
.threshold_listline{margin-bottom: 10px;}
.htreshold_listbox{margin-bottom: 0px;}
.threshold_butbc{margin-top:0px;}
.threshold_butqx{margin-top:0px;}
.police_allheight{
    height: 283px;overflow-y: scroll;}
.search_shijcx{    width: 100%;
    margin: 0 auto;    text-align: center;}
    .yhh-data-table-frame>table.yhh-data-table tbody th, .yhh-data-table-frame>table.yhh-data-table tbody td{padding: 0px;}
}
@media (max-width: 1199px)and (min-width: 993px){
    .container{width: 100%}}
@media (max-width: 992px){.container{
    width: 100%;}}
    @media (max-width: 750px) {
    /*.together_content{
        width: 600px;
    }*/
}

    @media (min-width: 780px){
    #login .box {
        width: 323px;
    }
        .block-area {
            padding: 0;
        }
    }
    @media (max-width: 780px) {
    /*.together_content{
        width: 600px;
    }*/
}

.reject_apply{
    background-color: #d9544f !important;
}

.header-search ul {
    padding-left: 0;
}

.header-search ul li {
    float: left;
    background-color: #009b96!important;
    padding: 4px 20px;
    border-radius: 4px!important;
    border-color: transparent!important;
    color: #ffffff;
    margin-right: 10px;
    cursor:pointer;
}
.checkbox:after{
    width: 20px;
    height: 20px;
}
.del-class .layui-layer-btn {
    padding: 0;
    box-sizing: border-box;
    padding-bottom: 8px;
}
.del-class  .layui-layer-btn a {
    height: auto;
    line-height: normal;
    padding: 8px 34px;
    border-radius: 5px !important;
}