<!DOCTYPE html>
<!--[if IE 9 ]>
<html class="ie9">
<![endif]-->
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />
    <meta name="format-detection" content="telephone=no">
    <meta charset="UTF-8">
    <meta name="description" content="Violate Responsive Admin Template">
    <meta name="keywords" content="Super Admin, Admin, Template, Bootstrap">
    <title>传感器</title>
    <link href="css/ProjectCss/bootstrap.min2.css" rel="stylesheet">
    <link href="css/animate.min.css" rel="stylesheet">
    <!--<link href="css/form.css" rel="stylesheet">-->
    <link href="css/style.css" rel="stylesheet">
    <link type="text/css" rel="stylesheet" href="table/css/font-awesome.4.6.0.css">
    <!-- <link type="text/css" rel="stylesheet" href="js/layui/css/layui.css">-->
    <link type="text/css" rel="stylesheet" href="table/css/jquery.paginate.css" />
    <link type="text/css" rel="stylesheet" href="table/css/jquery.yhhdatatable.css" />
    <link rel="stylesheet" href="css/index.css">
    <link href="css/sun.css" rel="stylesheet">
    <!-- <link type="text/css" rel="stylesheet" href="css/ProjectCss/setPermission.css" />-->
    <link type="text/css" rel="stylesheet" href="css/ProjectCss/waitApprova.css" />
    <link rel="stylesheet" href="css/sunthree.css">
    <link type="text/css" rel="stylesheet" href="css/ProjectCss/device_sensor.css" />
    <style>
        .yhh-data-table-frame>table.yhh-data-table tr td {
            padding:   0 10px;
        }
    </style>

</head>
<body>
<div class="ifream_head" >
    <header  class=" headtwo">
        <img src="images/top1.png" class="img-responsive">
    </header>
    <section class="container togethers">
        <ul class="breadcrumb breadcrumb-left nav_menu1">
            <li class="nav_menu_li"><a href="index.html" class="home-btn home_btnnext"  target = '_self'>首页</a></li>
            <li class="nav_menu_li ifream_listnav">
                <a  class="home-btn home_btnnext" target="myFrameName" >菜单</a>
                <ul class="nav_twomenu bg2">
                    <li>
                        <a  target="myFrameName">设置</a>
                        <ul class="nav_threemenu ifream_nav_bg3 bg2 bg_pos">
                            <li><a href="setPermission.html"  target = '_self'>权限</a> </li>
                            <li><a href="threshold-value.html"  target = '_self'>阈值</a> </li>
                            <li class="index_fell"><a href="device_sensor.html"  target = '_self'>传感器</a> </li>
                            <li class="index_fell"><a href="device_mediate.html"  target = '_self'>解调仪</a> </li>
                        </ul>
                    </li>
                    <li><a  target="myFrameName">查询</a>
                        <ul class="nav_threemenu nav_threebg bg2 bg_posti2">
                            <li><a href="searchDuan.html"  target = '_self'>时间段查询</a> </li>
                            <li><a href="searchPoint.html"  target = '_self'>时间点查询</a> </li>
                        </ul>
                    </li>
                    <li><a href="police.html"  target = '_self'>报警</a>
                    </li>
                </ul>
            </li>
        </ul>
        <!-- Breadcrumb -->
        <ol class="breadcrumb">
            <!--<li><a href="" style="width: 140px;font-size: 14px;">当前用户：admin</a> </li>-->
            <li><a href="#" class="date-btn date_btnnext">2018年5月27号</a></li>
            <li><a href="#" class="loginout-btn home_btnnext">退出</a></li>
        </ol>
    </section>
</div>

<section class="p-relative container mg_t22" role="main" >
    <div class="head_titall">
        <ol class="head_titall_title">
            <li class="home"><a href="index.html"  target = '_self'>首页</a></li>
            <li> > </li>
            <li><a>设置</a></li>
            <li> > </li>
            <li class="active"><a href="device_sensor.html"  target = '_self'>传感器</a></li>

        </ol>
    </div>
    <div class="clearfix"></div>
    <section id="main" class="p-relative together_content container" role="main">
        <section id="content" class="container together_pad">
            <div class="layui-tab">
                <div class="layui-tab-content">
                    <div class="layui-tab-item layui-show block-area police_caozuo" id="text-input">
                        <div style="float: right; margin-bottom: 8px;"> <button class="btn btn-primary searchButton export" onclick="add()"><i class="fa fa fa-plus" aria-hidden="true"></i>&nbsp&nbsp&nbsp新增</button></div>
                        <table id="testtable3">
                            <thead>
                            <tr>
                                <th>设备ID</th>
                                <th>设备状态</th>
                                <th>设备位置</th>
                                <th>设备类型</th>
                                <th>设备波长</th>
                                <th>操作</th>
                            </tr>
                            </thead>
                            <tbody>
                            </tbody>
                        </table>
                    </div>

                </div>
            </div>

            </div>
        </section>
    </section>
</section>

<script src="js/jquery.min.js"></script> <!-- jQuery Library -->
<script src="js/bootstrap.min.js"></script>
<script src="js/layui/layui.all.js"></script> <!-- jQuery Library -->
<script type="text/javascript" src="js/ProjectJs/jquery.paginate.js"></script>
<script type="text/javascript" src="js/ProjectJs/jquery.yhhdatatable.js" ></script>
<script src="js/ajax.js"></script>
<script type="text/javascript" src="js/ProjectJs/deviceSensor.js"></script>
<script src="js/select.min.js"></script>

<script>
    function add (){
        layer.alert('暂时不支持新增操作',{icon:0,btnAlign: 'c',skin: 'del-class'})
       /* layer.open({
            type: 1,
            type: 1,
            title:'新增',
            skin: 'layui-layer-rim', //加上边框
            area: ['520px', '375px'], //宽高
            content: "<div class=' threshold_upline'>" +
            "<div style='margin: 10px 16px'>" +
            "<label style='width: 22%;'>设备ID:</label>" +
            "<input style='color: black;width: 70%;line-height: 28px;'  type='text' value='' placeholder='请输入设备ID'>" +
            "</div>" +
            "<div style='margin: 22px 16px'>" +
            "<label style='width: 22%;'>设备位置:</label>" +
            "<input style='color: black;width: 70%;line-height: 28px;'  type='text' value='' placeholder='请输入设备位置'>" +
            "</div>" +
            "<div style='margin: 22px 16px'>" +
            "<label style='width: 22%;'>设备名称:</label>" +
            "<input style='color: black;width: 70%;line-height: 28px;' type='text' value='' placeholder='请输入设备名称'>" +
            "</div>" +
            "<div style='margin: 10px 16px'>" +
            "<label style='width: 22%;'>设备波长:</label>" +
            "<input style='color: black;width: 70%;line-height: 28px;' type='text' value='' placeholder='请输入设备波长'>" +
            "</div>" +
            "<div class='threshold_butset'>" +
            "<button style='color: #fff;\n" +
            "    background: #23aaea;\n" +
            "    padding: 8px 34px;\n" +
            "    border: none;\n" +
            "    border-radius: 5px!important;\n" +
            "    font-size: 16px;\n" +
            "    margin-top: 16px;' onclick='addAffirm()'>确认</button>" +
            "<button style='float: right;\n" +
            "    color: #333;\n" +
            "    background: #fff;\n" +
            "    padding: 8px 34px;\n" +
            "    border: 1px solid #ddd;\n" +
            "    border-radius: 5px!important;\n" +
            "    font-size: 16px;\n" +
            "    margin-top: 16px;' onclick='cancel()'>取消</button>" +
            "</div>" +
            "</div>"
        });*/
    }
    function details(obj){
        console.log(obj)
        var data =JSON.parse($(obj).attr('data-attr'))
        console.log(data)
        layer.open({
            type: 1,
            title:'查看',
            skin: 'layui-layer-rim', //加上边框
            area: ['520px', '400px'], //宽高
            content: "<div class=' threshold_upline'>" +
            "<div style='margin: 10px 16px'>" +
            "<label style='width: 22%;'>设备ID:</label>" +
            "<input style='color: black;width: 70%;line-height: 28px;'  disabled='disabled' type='text' value='"+data.deviceId+"'>" +
            "</div>" +
            "<div style='margin: 10px 16px'>" +
            "<label style='width: 22%;'>设备状态:</label>" +
            "<input style='color: black;width: 70%;line-height: 28px;'  disabled='disabled' type='text' value='"+(formatter(data.deviceStatus))+"'>" +
            "</div>" +
            "<div style='margin: 22px 16px'>" +
            "<label style='width: 22%;'>设备位置:</label>" +
            "<input style='color: black;width: 70%;line-height: 28px;'  disabled='disabled' type='text' value='"+(data.deviceDirection== 1?'上行':'下行')+"'>" +
            "</div>" +
            "<div style='margin: 22px 16px'>" +
            "<label style='width: 22%;'>设备名称:</label>" +
            "<input style='color: black;width: 70%;line-height: 28px;'  disabled='disabled' type='text' value='"+(data.devicePosition)+'号'+ (data.deviceDirection== 1?'上行':'下行')+"'>" +
            "</div>" +
            "<div style='margin: 10px 16px'>" +
            "<label style='width: 22%;'>设备波长:</label>" +
            "<input style='color: black;width: 70%;line-height: 28px;' disabled='disabled' type='text' value='"+'无'+"'>" +
            "</div>" +
            "<div class='threshold_butset'>" +
            "<button style='color: #fff;\n" +
            "    background: #23aaea;\n" +
            "    padding: 8px 34px;\n" +
            "    border: none;\n" +
            "    border-radius: 5px!important;\n" +
            "    font-size: 16px;\n" +
            "    margin-top: 16px;' onclick='viewAffirm()'>确认</button>" +
            "<button style='float: right;\n" +
            "    color: #333;\n" +
            "    background: #fff;\n" +
            "    padding: 8px 34px;\n" +
            "    border: 1px solid #ddd;\n" +
            "    border-radius: 5px!important;\n" +
            "    font-size: 16px;\n" +
            "    margin-top: 16px;' onclick='cancel()'>取消</button>" +
            "</div>" +
            "</div>"
        });
        function  formatter(val) {
            if(val== 0){
                return '未初始化'
            }else if(val== 1){
                return '正常'
            }else {
                return '异常'
            }
        }
        /*var a = 10*/
        /*window.open('police_detail.html'+ '?' + a,'_self')*/
    }
    function edit(obj){
        console.log(obj)
        var data =JSON.parse($(obj).attr('data-attr'))
        console.log(data)
        layer.open({
            type: 1,
            title:'编辑',
            skin: 'layui-layer-rim', //加上边框
            area: ['520px', '450px'], //宽高
            content: "<div class=' threshold_upline'>" +
            "<div style='margin: 10px 16px'>" +
            "<label style='width: 22%;'>设备ID:</label>" +
            "<input id = 'deviceId' style='color: black;width: 70%;line-height: 28px;' disabled='disabled' type='text' value='"+data.deviceId+"'>" +
            "</div>" +
            "<div style='margin: 10px 16px'>" +
            "<label style='width: 22%;'>设备状态:</label>" +
            "<input id='stys' style='color: black;width: 70%;line-height: 28px;'   disabled='disabled' type='text' value='"+(formatter(data.deviceStatus))+"'>" +
            "</div>" +
            "<div style='margin: 22px 16px'>" +
            "<label style='width: 22%;'>设备位置:</label>" +
            "<input id='address' type='number' style='color: black;width: 70%;line-height: 28px;'   type='text' value='"+(data.devicePosition)+"'>" +
            "</div>" +
            "<div style='margin: 22px 16px'>" +
            "<label style='width: 22%;'>设备方向:</label>" +
            /*"<input id='deviceDriection' style='color: black;width: 70%;line-height: 28px;'   type='text' value='"+ (data.deviceDirection== 1?'上行':'下行') +"'>" +*/
            "<select class='select' id='deviceDriection' style='width: 70%;line-height: 34px;height: 34px;background: #fff;border:1px solid #ccc;''>" +
            "<option value='1'>上行</option" +
            "><option value='2'>下行</option>" +
            "</select>" +
            "</div>" +
            "<div style='margin: 22px 16px'>" +
            "<label style='width: 22%;'>设备类型:</label>" +
            /*"<input  id='deviceName' style='color: black;width: 70%;line-height: 28px;'   type='text' value=' "+(data.deviceType == 1? '基准传感器':'数据传感器')+"'>" +*/
            "<select class='select' id='deviceType' style='width: 70%;line-height: 34px;height: 34px;background: #fff;border:1px solid #ccc;''>" +
            "<option value='2'>数据传感器</option" +
            "><option value='1'>基准传感器</option>" +
            "</select>" +
            "</div>" +
            "<div style='margin: 10px 16px'>" +
            "<label style='width: 22%;'>设备波长:</label>" +
            "<input id='boLength' style='color: black;width: 70%;line-height: 28px;' disabled='disabled' type='text' value='"+'无'+"'>" +
            "</div>" +
            "<div class='threshold_butset'>" +
            "<button style='color: #fff;\n" +
            "    background: #23aaea;\n" +
            "    padding: 8px 34px;\n" +
            "    border: none;\n" +
            "    border-radius: 5px!important;\n" +
            "    font-size: 16px;\n" +
            "    margin-top: 16px;' onclick='editAffirm()'>确认</button>" +
            "<button style='float: right;\n" +
            "    color: #333;\n" +
            "    background: #fff;\n" +
            "    padding: 8px 34px;\n" +
            "    border: 1px solid #ddd;\n" +
            "    border-radius: 5px!important;\n" +
            "    font-size: 16px;\n" +
            "    margin-top: 16px;' onclick='cancel()'>取消</button>" +
            "</div>" +
            "</div>"
        });
        function  formatter(val) {
            if(val== 0){
                return '未初始化'
            }else if(val== 1){
                return '正常'
            }else {
                return '异常'
            }
        }
        /*var a = 10*/
        /*window.open('police_detail.html'+ '?' + a,'_self')*/
    }

    function del (id){
        layer.alert('暂时不支持删除操作',{icon:0,btnAlign: 'c',skin: 'del-class'})
     /*   console.log("1")
        console.log(id)
        layer.confirm('确定要删除吗？', {
            btnAlign: 'c',
            skin: 'del-class',
            btn: ['确定','取消'] //按钮
        }, function(){
            layer.msg('删除成功', {icon: 1});
        }, function(){
            layer.msg('取消成功', {
                time: 1000, //10s后自动关闭
            });
        });*/
    }
    
    function initialize(id) {
        var ws = new WebSocket("ws://19.0.1.20:8082");
        var ip = "192.168.0.1"
        var data = {
            cmd: "initialization",
            number: id,
            address: ip 
        };
        
         ws.onopen = function() {
          ws.send(data);
        }

        ws.onmessage = function(res) {
            //alert(JSON.stringify(res))
            if(res.isTrusted) {
                layer.msg('初始化成功');
            } else {
                layer.msg('初始化失败'); 
            }
        }
      
    }
    function restart (id) {
      //  layer.alert('重启接口', {icon:0,btnAlign: 'c',skin: 'del-class' });
      var ws = new WebSocket("ws://19.0.1.20:8082");
        var ip = "192.168.0.1"
        var data = {
            cmd: "reset",
            number: id,
            address: ip 
        };
        
         ws.onopen = function() {
          ws.send(data);
        }

        ws.onmessage = function(res) {
            //alert(JSON.stringify(res))
            if(res.isTrusted) {
                layer.msg('重启成功');
            } else {
                layer.msg('重启失败'); 
            }
        }
    }
    function editAffirm () {
        layer.alert('编辑确定接口', {icon:0,btnAlign: 'c',skin: 'del-class' });
    }
    function viewAffirm () {
        layer.closeAll()
    }
    function addAffirm () {
        layer.alert('暂时不支持新增',{icon:0,btnAlign: 'c',skin: 'del-class'})
    }
    function cancel (){
        layer.closeAll()
    };
    function editAffirm() {
        var devicePosition = $("#address").val()
        var deviceDirection = $("#deviceDriection option:selected").val()
        var deviceType   = $("#deviceType option:selected").val()
   $ajax(
            'monitor/manageMonitorDevice.do',
            {devicePosition,deviceDirection,deviceType},
            function (res) {
                layer.alert('保存成功', { icon: 0, btnAlign: 'c', skin: 'del-class' });
                setTimeout(function(){layer.closeAll()},2000);
            },
            function (res) {
                console.log(res)
                layer.alert('保存失败', { icon: 0, btnAlign: 'c', skin: 'del-class' });
            },
            'post',
            'json'
        )
          }
</script>
<script type="text/javascript" src="js/islogin.js?a4da8d9554f6e14268b8"></script></body>
</html>

