<!DOCTYPE html>
<!--[if IE 9 ]><html class="ie9"><![endif]-->

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1,minmum-scale=1,maxmum-scale=1,user-scalable=no">
    <meta name="format-detection" content="telephone=no">
    <meta charset="UTF-8">
    <meta name="description" content="Violate Responsive Admin Template">
    <meta name="keywords" content="Super Admin, Admin, Template, Bootstrap">
    <title>首页-桥梁监测系统</title>
    <!-- CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/animate.min.css" rel="stylesheet">
    <link href="css/form.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">
    <link rel="stylesheet" href="css/index.css">
    <link rel="stylesheet" href="css/sunthree.css">
    <!--加载meta IE兼容文件-->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <style>
        * {
            color: #fff
        }

        a {
            color: #fff
        }

        h1,
        h2,
        h3 {
            margin-top: 18px;
        }

        .table {
            width: 98%;
            margin: 0 auto;
            margin-bottom: 0px;

        }

        .breadcrumb>li+li:before {
            padding: 0;
        }

        .index_addselect.bootstrap-select.btn-group .btn .filter-option {
            text-align: center;
        }
    </style>
</head>

<body id="skin-blur-violate">
        <div class="ifream_head">
                <header class=" headtwo">
                    <img src="images/top.png" class="img-responsive">
                </header>
                <section class="container togethers index_menu">
                    <ul class="breadcrumb breadcrumb-left nav_menu1">
                        <li class="nav_menu_li">
                            <a href="index.html" class="home-btn"  target = '_self'>首页</a>
                        </li>
                        <li class="nav_menu_li ifream_listnav">
                            <a class="menu-btn" target="myFra   meName">菜单</a>
                            <ul class="nav_twomenu">
                                <li>
                                    <a target="myFrameName">设置</a>
                                    <ul class="nav_threemenu ifream_nav_bg3">
                                        <li>
                                            <a href="setPermission.html"  target = '_self'>权限</a>
                                        </li>
                                        <li>
                                            <a href="threshold-value.html"  target = '_self'>阈值</a>
                                        </li>
                                        <li class="index_fell"><a href="device_sensor.html"  target = '_self'>传感器</a> </li>
                                        <li class="index_fell"><a href="device_mediate.html"  target = '_self'>解调仪</a> </li>
                                    </ul>
                                </li>
                                <li>
                                    <a target="myFrameName">查询</a>
                                    <ul class="nav_threemenu nav_threebg">
                                        <li>
                                            <a href="searchDuan.html"  target = '_self'>时间段查询</a>
                                        </li>
                                        <li>
                                            <a href="searchPoint.html"  target = '_self'>时间点查询</a>
                                        </li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="police.html" target = '_self'>报警</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                    <!-- Breadcrumb -->
                    <ol class="breadcrumb">
                        <!-- <li><a href="" style="width: 140px;font-size: 14px;">当前用户：admin</a> </li> -->
                        <li>
                            <a href="#" class="date-btn">&nbsp;&nbsp;&nbsp;</a>
                        </li>
                        <li>
                            <a href="#" class="loginout-btn">退出</a>
                        </li>
                    </ol>
                </section>
            </div>
        <section id="main" class="p-relative" role="main">
                <!-- Content -->
                <section id="content" class="container container_index">
                    <!-- Breadcrumb -->
        
        
                    <!-- Main Widgets -->
        
                    <div class="block-area index_contentbox">
                        <div class="row">
                            <div class="col-md-2 menu-left-01">
                                <!-- USA Map -->
                                <div class="tile today-blam bg-line">
                                    <h3 class="blam-title">今日报警</h3>
                                    <div id="usa-map-new">
                                        <p>0</p>
                                        <p>0</p>
                                        <p>0</p>
                                        <p>0</p>
                                    </div>
                                </div>
        
                                <!-- Dynamic Chart -->
                                <div class="tile blam-list">
                                    <div class="p-t-10 p-r-5 p-b-5">
                                        <h3 class="blam-title">实时报警</h3>
                                        <ul class="list-group" id="alarmTime">
                                        
                                        </ul>
                                    </div>
        
                                </div>
        
                                <!-- Activity -->
                                <div class="tile machine-status machine-status_shebhover">
                                    <div class="p-t-10 p-r-5 p-b-5">
                                        <h3 class="blam-title index_zt1">设备状态</h3>
        
                                        <table id="tabeleList2" class="table text-center font-14 " style="position: relative;top: 10px;left: 0.5px">
                                            <thead>
                                                <tr>
                                                    <td style="    color: #fff     ;border-top: 1px solid #255890;">设备类型</td>
                                                    <td style="    color: #fff ;border-top: 1px solid #255890">正常数量</td>
                                                    <td style="    color: #fff ;border-top: 1px solid #255890">异常数量</td>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr id="chuanganqi">
                                                  
                                                </tr>
                                                <tr id="jietiaoyi">
                                                    
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-7">
                                <!-- Main Chart -->
                                <div class="tile qiao">
                                    <div class="qiao-tab qiao_titright">
                                        <ul>
                                            <li>上行</li>
                                            <li>下行</li>
                                        </ul>
                                    </div>
                                    <canvas id="canvas" style="display: none" width="980" height="150"></canvas>
                                    <canvas id="canvasWrap" width="1000" height="250"></canvas>
                                </div>
        
                                <!-- Pies -->
                                <div class="tile text-center up-status-title" id="main-show">
                                    <div class="qiao-tab">
                                        <ul style="margin-right: 50px;margin-top: 10px">
                                            <li class="blue index_aqfw">安全范围</li>
                                            <li class="purple index_bjfw">报警范围</li>
                                        </ul>
                                    </div>
                                    <div class="qiao-tab">
                                        <ul style="margin-top: 10px">
                                            <li class="up index_con2bot1">上行</li>
                                            <li class="down index_con2bot2">下行</li>
                                        </ul>
                                    </div>
                                    <div class="tile-dark p-10 up-status" style="position: relative">
                                        <div id="main-line" style="    position: relative;
                                        top: -27px;"></div>
                                        <div style="position: absolute;    right: 2%;bottom: 4.2%;">桥墩号</div>
                                    </div>
                                </div>
        
                                <div class="clearfix"></div>
                            </div>
        
                            <div class="col-md-3 ">
                                <div class="machine-status alrm-list-line" id="main-show1">
                                    <div class="p-t-10 p-r-5 p-b-5">
                                            <div class="qiao-tab" id="time">
                                                    <ul>
                                                        <li style="color: #8ADC5D">上行</li>
                                                        <li style="color: #FFFE1D">下行</li>
                                                    </ul>
                                                </div>
                                        <h3 class="blam-title">桥墩实时监测</h3>
                                        <div id="main-line2" style="height:340px;">
        
                                        </div>
                                    </div>
                                    <div class="index_setid m-b-15">
                                        <select class="select index_addselect" id="select_alarm">
                                            <option>#10桥墩</option>
                                            <option>#1桥墩</option>
                                            <option>#2桥墩</option>
                                            <option>#3桥墩</option>
                                            <option>#4桥墩</option>
                                            <option>#5桥墩</option>
                                            <option>#6桥墩</option>
                                            <option>#7桥墩</option>
                                            <option>#8桥墩</option>
                                            <option>#9桥墩</option>
                                            <option>#10桥墩</option>
                                            <option>#11桥墩</option>
                                            <option>#12桥墩</option>
                                            <option>#13桥墩</option>
                                            <option>#14桥墩</option>
                                            <option>#15桥墩</option>
                                            <option>#16桥墩</option>
                                            <option>#17桥墩</option>
                                            <option>#18桥墩</option>
                                            <option>#19桥墩</option>
                                            <option>#20桥墩</option>
                                            <option>#21桥墩</option>
                                        </select>
                                    </div>
                                    <div style="position: absolute;    right: 5.6%;top: 40.6%;">时间（12h）</div>
                                    <div class="clearfix"></div>
                                </div>
                                <div class="machine-status alrm-list alrm-list-zishi" style="padding: 4.4px;">
                                    <div class="p-t-10 p-r-5 p-b-5">
                                        <h3 class="blam-title">报警列表</h3>
        
                                        <table id="tabeleList" class="table text-center table-striped" style="position: relative;top: 17px;left: 0.5px">
                                            <thead>
                                                <tr>
                                                    <td style="    color: #fff     ;border-top: 1px solid #255890;line-height: 28px;font-size: 15px;">报警时间 </td>
                                                    <td style="    color: #fff ;border-top: 1px solid #255890 ;line-height: 28px;font-size: 15px;">预警位置</td>
                                                    <td style="    color: #fff ;border-top: 1px solid #255890;line-height: 28px;font-size: 15px;">报警状态</td>
                                                    <td style="    color: #fff ;border-top: 1px solid #255890;line-height: 28px;font-size: 15px;">监测值</td>
                                                    <td style="    color: #fff ;border-top: 1px solid #255890;line-height: 28px;font-size: 15px;">等级</td>
                                                </tr>
                                            </thead>
                                            <tbody id="aliamList">
                                            
                                             
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </section>
        <!-- Javascript Libraries -->
        <!-- jQuery -->
        <script src="js/jquery.min.js"></script>
        <!-- jQuery Library -->
        <script src="js/bootstrap.min.js"></script>

        <script src="js/select.min.js"></script>

        <script src="js/device_setup.js"></script>

<script type="text/javascript" src="js/index.js?a4da8d9554f6e14268b8"></script><script type="text/javascript" src="js/islogin.js?a4da8d9554f6e14268b8"></script></body>


</html>