<!DOCTYPE html>
<!--[if IE 9 ]>
<html class="ie9">
<![endif]-->
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />
    <meta name="format-detection" content="telephone=no">
    <meta charset="UTF-8">
    <meta name="description" content="Violate Responsive Admin Template">
    <meta name="keywords" content="Super Admin, Admin, Template, Bootstrap">
    <title>处理人</title>
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/animate.min.css" rel="stylesheet">
    <link href="css/form.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">
    <link rel="stylesheet" href="css/index.css">
    <link href="css/sun.css" rel="stylesheet">
    <link rel="stylesheet" href="css/sunthree.css">
    <style>
        .form-control:focus, .input-focused, .bootstrap-select.open > .form-control{    border-color: #c9c9c9;
            /* background: rgba(0, 0, 0, 0); */
            box-shadow: none;}
        input::-webkit-input-placeholder{
            color:#9c9a9a !important;
        }
        input::-moz-placeholder{   /* Mozilla Firefox 19+ */
            color:#9c9a9a !important;
        }
        input:-moz-placeholder{    /* Mozilla Firefox 4 to 18 */
            color:#9c9a9a !important;
        }
        input:-ms-input-placeholder{  /* Internet Explorer 10-11 */
            color:#9c9a9a !important;
        }
        textarea::-webkit-input-placeholder{
            color:#9c9a9a !important;
        }
        textarea::-moz-placeholder{   /* Mozilla Firefox 19+ */
            color:#9c9a9a !important;
        }
        textarea:-moz-placeholder{    /* Mozilla Firefox 4 to 18 */
            color:#9c9a9a !important;
        }
        textarea:-ms-input-placeholder{  /* Internet Explorer 10-11 */
            color:#9c9a9a !important;
        }
    </style>
</head>
<body>
<div class="ifream_head" >
    <header  class=" headtwo">
        <img src="images/top1.png" class="img-responsive">
    </header>
    <section class="container togethers">
        <ul class="breadcrumb breadcrumb-left nav_menu1">
            <li class="nav_menu_li"><a href="index.html" class="home-btn home_btnnext"  target = '_self'>首页</a></li>
            <li class="nav_menu_li ifream_listnav">
                <a  class="home-btn home_btnnext" target="myFrameName" >菜单</a>
                <ul class="nav_twomenu bg2">
                    <li>
                        <a  target="myFrameName">设置</a>
                        <ul class="nav_threemenu ifream_nav_bg3 bg2 bg_pos">
                            <li><a href="setPermission.html"  target = '_self'>权限</a> </li>
                            <li><a href="threshold-value.html"  target = '_self'>阈值</a> </li>
                            <li ><a href="device_sensor.html"  target = '_self'>传感器</a> </li>
                            <li ><a href="device_mediate.html"  target = '_self'>解调仪</a> </li>
                        </ul>
                    </li>
                    <li><a  target="myFrameName">查询</a>
                        <ul class="nav_threemenu nav_threebg bg2 bg_posti2">
                            <li><a href="searchDuan.html"  target = '_self'>时间段查询</a> </li>
                            <li><a href="searchPoint.html"  target = '_self'>时间点查询</a> </li>
                        </ul>
                    </li>
                    <li><a href="police.html"  target = '_self'>报警</a>
                        <ul class="nav_threemenu nav_threebg bg2 bg_posti2">
                            <li><a href="police_handle.html"  target = '_self'>报警处理人</a> </li>
                            <li><a href="police_sure.html"  target = '_self'>报警确认人</a> </li>
                        </ul>
                    </li>
                </ul>
            </li>
        </ul>
        <!-- Breadcrumb -->
        <ol class="breadcrumb">
            <!--<li><a href="" style="width: 140px;font-size: 14px;">当前用户：admin</a> </li>-->
            <li><a href="#" class="date-btn date_btnnext">2018年5月27号</a></li>
            <li><a href="#" class="loginout-btn home_btnnext">Admin</a></li>
        </ol>
    </section>
</div>

<section class="p-relative container mg_t22" role="main" >
    <div class="head_titall">
        <ol class="head_titall_title">
            <li class="home"><a href="index.html"  target = '_self'>首页</a></li>
            <li> > </li>
            <li ><a href="police.html"  target = '_self'>报警</a></li>
            <li> > </li>
            <li class="active"><a href="police_handle.html"  target = '_self'>报警处理人</a></li>

        </ol>
    </div>
    <div class="clearfix"></div>
    <section id="main" class="p-relative together_content container" role="main">
        <section id="content" class="container together_pad">
        <div class="block-area" id="text-input">
            <div class="row device_list2">
                <div class="col-lg-4 police_tit">
                    <label class="police_type">报警类型</label>
                    <input type="text" class="form-control m-b-10" id="type"  value="" disabled="disabled">
                </div>
                <div class="col-lg-4 police_tit">
                    <label class="police_type">报警位置</label>
                    <input type="text" class="form-control m-b-10" id="position"  value="" disabled="disabled">
                </div>
                <div class="col-lg-4 police_tit">
                    <label class="police_type">报警时间</label>
                    <input type="text" class="form-control m-b-10" id="date_time" value="" disabled="disabled">
                </div>
                
                <div class="clearfix"></div>
            </div>

            <div class="row device_list2">
                    <div class="col-lg-4 police_tit">
                            <label class="police_type">处理人</label>
                            <input type="text" class="form-control m-b-10" id="user"  value="">
                        </div>
                    <div class="clearfix"></div>
                </div>

            <div class="row device_list2">
                <div class="layui-form-item layui-form-text">
                    <label class="police_detailyj">处理意见</label>
                    <div class="polist_threelist">
                        <textarea placeholder="请输入内容" id="alarmProcessMessage" class="form-control"></textarea>
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="threshold_but">
                <button class="threshold_butbc" id="confirm">处理</button>
                <button  class="threshold_butqx" id="cancel">取消</button>
            </div>


        </div>


    </section>
</section>
</section>
<script src="js/jquery.min.js"></script> <!-- jQuery Library -->
<script src="js/bootstrap.min.js"></script>
<script src="js/layui/layui.all.js"></script>
<script src="js/ajax.js"></script>

<script type="text/javascript" src="js/islogin.js?80c4511459eaf5c65dda"></script></body>
<script>
    function getUrlParam() {
    var params = window.location.search
    var arr = params.substr(1).split("&");
    var args = {};
    for(var i=0; i<arr.length; i++) {
        item = arr[i].split("=")
        var name = decodeURIComponent(item[0]),value = decodeURIComponent(item[1]);
        if(name) {
            args[name] = value
        }
    }
   return args;
}

var params = getUrlParam();

if(params) {
 $("#type").val(params.type == 1 ? '上浮' : '下沉')
 $("#position").val(params.position + '号桥墩')
 $("#date_time").val(params.time)

$("#confirm").click(function(){
    var ags = {};
    var alarmProcessMessage = $("#alarmProcessMessage").val()
    var user = $("#user").val()
    ags['alarmDeviceId'] = params.id
    ags['alarmProcessUser'] = user
    ags['alarmProcessMessage'] = alarmProcessMessage

    $ajax('monitor/processAlarm.do',ags,function(res){
        if(res.code == 200) {
            layer.msg('处理成功！')
            window.location.href = "/police.html"
        } else {
            layer.msg("处理失败！")
        }
    })
})
 

} else {
    layer.msg("请求数据错误！")
}
  
</script>
</html>

