<!DOCTYPE html>
<!--[if IE 9 ]>
<html class="ie9">
<![endif]-->
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />
    <meta name="format-detection" content="telephone=no">
    <meta charset="UTF-8">
    <meta name="description" content="Violate Responsive Admin Template">
    <meta name="keywords" content="Super Admin, Admin, Template, Bootstrap">
    <title>阈值</title>
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/animate.min.css" rel="stylesheet">
    <!--<link type="text/css" rel="stylesheet" href="js/layui/css/layui.css">-->
    <link href="css/form.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">
    <link rel="stylesheet" href="css/index.css">
    <link href="css/sun.css" rel="stylesheet">
    <link rel="stylesheet" href="css/sunthree.css">
    <style>
        input::-webkit-input-placeholder{
            color:#9c9a9a !important;
        }
        input::-moz-placeholder{   /* Mozilla Firefox 19+ */
            color:#9c9a9a !important;
        }
        input:-moz-placeholder{    /* Mozilla Firefox 4 to 18 */
            color:#9c9a9a !important;
        }
        input:-ms-input-placeholder{  /* Internet Explorer 10-11 */
            color:#9c9a9a !important;
        }
    </style>
</head>
<body>
<div class="ifream_head" >
    <header  class=" headtwo">
        <img src="images/top1.png" class="img-responsive">
    </header>
    <section class="container togethers">
        <ul class="breadcrumb breadcrumb-left nav_menu1">
            <li class="nav_menu_li"><a href="index.html" class="home-btn home_btnnext"  target = '_self'>首页</a></li>
            <li class="nav_menu_li ifream_listnav">
                <a  class="home-btn home_btnnext" target="myFrameName" >菜单</a>
                <ul class="nav_twomenu bg2">
                    <li>
                        <a  target="myFrameName">设置</a>
                        <ul class="nav_threemenu ifream_nav_bg3 bg2 bg_pos">
                            <li><a href="setPermission.html"  target = '_self'>权限</a> </li>
                            <li><a href="threshold-value.html"  target = '_self'>阈值</a> </li>
                            <li class="index_fell"><a href="device_sensor.html"  target = '_self'>传感器</a> </li>
                            <li class="index_fell"><a href="device_mediate.html"  target = '_self'>解调仪</a> </li>
                        </ul>
                    </li>
                    <li><a  target="myFrameName">查询</a>
                        <ul class="nav_threemenu nav_threebg bg2 bg_posti2">
                            <li><a href="searchDuan.html"  target = '_self'>时间段查询</a> </li>
                            <li><a href="searchPoint.html"  target = '_self'>时间点查询</a> </li>
                        </ul>
                    </li>
                    <li><a href="police.html"  target = '_self'>报警</a>
                    </li>
                </ul>
            </li>
        </ul>
        <!-- Breadcrumb -->
        <ol class="breadcrumb">
            <!--<li><a href="" style="width: 140px;font-size: 14px;">当前用户：admin</a> </li>-->
            <li><a href="#" class="date-btn date_btnnext">2018年5月27号</a></li>
            <li><a href="#" class="loginout-btn home_btnnext">退出</a></li>
        </ol>
    </section>
</div>
<section class="p-relative container mg_t22" role="main" >
    <div class="head_titall">
        <ol class="head_titall_title">
            <li class="home"><a href="index.html"  target = '_self'>首页</a></li>
            <li> > </li>
            <li><a >设置</a></li>
            <li> > </li>
            <li class="active"><a href="threshold-value.html" target = '_self'> 阈值</a></li>
        </ol>
    </div>
    <div class="clearfix"></div>
    <section id="main" class="p-relative together_content container" role="main">
        <section id="content" class="container together_pad">
        <div class="block-area" id="text-input">
            <h2 class="threshold_listline"><p class="block-title">一级</p><span class="small_sanjiao"></span></h2>
            <div class="row htreshold_listbox">
                <div class="col-lg-6 col-md-6 col-sm-6 threshold_upline">
                    <label style="width: 57px"><i>*</i>阈值</label>
                    <input id="first" type="text" class="form-control m-b-10" placeholder="请输入">
                </div>
               
                <div class="clearfix"></div>
            </div>
            <h2 class="threshold_listline"><p class="block-title green">二级</p><span class="small_sanjiao sanjiao_green"></span></h2>
            <div class="row htreshold_listbox">
                <div class="col-lg-6 col-md-6 col-sm-6 threshold_upline">
                    <label style="width: 57px"><i>*</i>阈值</label>
                    <input id="second" type="text" class="form-control m-b-10" placeholder="请输入">
                </div>
               
                <div class="clearfix"></div>
            </div>
            <h2 class="threshold_listline"><p class="block-title orange">三级</p><span class="small_sanjiao sanjiao_orange"></span></h2>
            <div class="row htreshold_listbox">
                <div class="col-lg-6 col-md-6 col-sm-6 threshold_upline">
                    <label style="width: 57px"><i>*</i>阈值</label>
                    <input id="thrid" type="text" class="form-control m-b-10" placeholder="请输入">
                </div>
               
                <div class="clearfix"></div>
            </div>
            <div class="threshold_but threshold_mgb">
                <button class="threshold_butbc" onclick="save()">保存</button>
                <button  class="threshold_butqx" onclick="cancel()">取消</button>
            </div>
        </div>
    </section>
</section>
<script src="js/jquery.min.js"></script> <!-- jQuery Library -->
<script src="js/bootstrap.min.js"></script>
<script src="js/layui/layui.all.js"></script> <!-- jQuery Library -->
<script src="js/ajax.js"></script>
<script src="js/ProjectJs/threshold-value.js"></script>
<script type="text/javascript" src="js/islogin.js?a4da8d9554f6e14268b8"></script></body>
</html>

